<template>
    <div>
        <highcharts :options="options"></highcharts>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                categories: [],
                legends: [],
                series: []
            }
        },

        computed: {
            options () {
                return {
                    credits: {
                        enabled: false
                    },
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Weekly retention curve'
                    },
                    xAxis: {
                        categories: this.categories,
                        title: {
                            text: 'Progress'
                        },
                        min: 0
                    },
                    yAxis: {
                        title: {
                            text: 'Candidates'
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: false
                        },
                        series: {
                            connectNulls: true
                        }
                    },
                    series: this.series
                };
            }
        },

        created () {
            this.fetchStats();
        },

        methods: {
            fetchStats () {
                axios.get('/api/stats').then(response => {
                    this.categories = response.data.xaxis;
                    this.series = this.processSeries(response.data.series, response.data.legends);
                });
            },

            processSeries (series, legends) {
                return _.map(series, (value, key) => {
                    return {
                        name: legends[key],
                        data: value
                    };
                });
            }
        }
    }
</script>
